<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <title>Check Medicine</title>
</head>

<body>
    <div class="pageChange">
        <a href="{{ url_for('home') }}">記錄中</a>
        <a href="#" style="background-color: rgb(118, 193, 255);">搜尋記錄</a>
        <button class="calendar-toggle-btn" onclick="toggleCalendar()">
            <i class="bi bi-calendar3"></i>日曆
        </button>
    </div>
    <div class="floating-calendar" id="floating-calendar">
        <div class="calendar-header">
            <button class="btn btn-sm btn-outline-secondary" onclick="moveMonth(-1)"><i
                    class="bi bi-chevron-left"></i></button>
            <span id="calendar-month-year">2026 年 05 月</span>
            <button class="btn btn-sm btn-outline-secondary" onclick="moveMonth(1)"><i
                    class="bi bi-chevron-right"></i></button>
        </div>
        <div class="calendar-grid" id="calendar-grid">
        </div>
    </div>

    <div class="content">
        <div class="pagination-container">
            <button class="btn btn-secondary me-2" id="btn-prev" onclick="changePagination(-1)">上一頁</button>
            <span class="fw-bold text-dark me-2" id="page-info"></span>
            <button class="btn btn-secondary" id="btn-next" onclick="changePagination(1)">下一頁</button>
        </div>
        <div class="log-container">
            <div class="log" id="log-content">載入中...請稍候...</div>
        </div>
    </div>
</body>

</html>
